* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

section {
    margin: 2.5rem 0;
}

/* HEADER */

header {
    height: 80px;
    background-color: #0084fd;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    display: none;
}


/* MAIN */

/* Functionalities */

.row, .bottom-row {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}


.card {
    padding: 10px;
    border-radius: 20px;
    /* TEST */
    background-color: aqua;
}


/* Planning */

.planning {
    background-color: #9792e4;
    padding: 2.5rem 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.col {
    /* TEST */
    border: 1px solid red;
    margin-bottom: 1rem;
}

/* Testimonials */

.text-area {
    /* TEST */
    background-color: burlywood;
}

.column {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 2rem 0;
}

.testimonial-col {
    /* TEST */
    border: 1px solid red;
    margin-bottom: 1rem;

}
/* Benefits */

.benefits {
    background-color: #9792e4;
}

/* About Us */

.about-us .columns {
    justify-content: space-between;
}

/* Get Starded */

.get-started {
    background-color: cadetblue;
    text-align: center;
    margin-bottom: 0;
}

.get-started .text-area {
    padding: 1.5rem;
}

/* FOOTER */

footer {
    background-color: #333333;
}

.footer-info {
    padding: 1.5rem 0;
    text-align: center;
}

.footer-info .row {
    margin-bottom: 0;
}
/* ---------------------
        RESPONSIVE
----------------------*/

/* Tablet */

@media screen and (min-width: 768px) {
    
    /* MAIN */

    /* Functionalities */
    .row, .bottom-row{
        justify-content: space-between;
    }

    .col {
        width: calc( ( 100%  / 3 ) - 1.5rem);
    }
    
    .large{
        width: calc( ( ( 100% /  3) * 2) - 0.75rem);
    }

    .bottom-row .col {
        width: calc( ( 100%  / 3 ) - 0.75rem);
    }
    /* Planning */

    .columns .container {
        width: 100%;
    }

    .columns {
        justify-content: center;
        align-items: center;
    }

    .column {
        justify-content: space-between;
    }

    .about-us .card {
        padding: 10px;
    }

    .columns .col {
        margin: 0.5rem;
    }
    
    /* Benefits */

    .benefits .col {
        width: calc( ( 100%  / 2 ) - 1.5rem);
    }

    /* Get Started */
    .get-started .container {
        width: 60%;
    }

    /* FOOTER */

    footer .container {
        width: 40%;
    }
}

/* Desktop */

@media screen and (min-width: 992px) {
    .benefits .col {
        width: calc( ( 100%  / 3 ) - 1rem);
    }
}