* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER */

header {
    height: 80px;
    background-color: #0084fd;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    display: none;
}


/* MAIN */

/* Functionalities */

.functionalities {
    margin: 2.5rem 0;
}

.row {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}


.card {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 1rem;
    /* TEST */
    background-color: aqua;
}


/* Planning */

.planning {
    background-color: #9792e4;
    padding: 2.5rem 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.col {
    /* TEST */
    border: 1px solid red;
}

/* Testimonials */

.testimonials {
    margin: 2.5rem 0;
}

.text-area {
    /* TEST */
    background-color: burlywood;
}

.column {
    margin-top: 1rem;
}

/* ---------------------
        RESPONSIVE
----------------------*/

/* Tablet */

@media screen and (min-width: 768px) {
    
    /* MAIN */

    /* Functionalities */
    .row {
        justify-content: space-between;
    }

    .col {
        width: calc( ( 100%  / 3 ) - 1.5rem);
    }
    
    .large{
        width: calc( ( ( 100% / 3 ) * 2) - 0.75rem);
    }

    /* Planning */

    .columns .container {
        width: 100%;
    }

    .columns {
        justify-content: center;
        align-items: center;
    }

    .columns .col {
        margin: 0.5rem;
    }
    
}