* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER */

header {
    height: 80px;
    background-color: #0084fd;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    display: none;
}

/* ---------------------
        RESPONSIVE
----------------------*/

/* Tablet */

@media screen and (min-width: 768px) {
    
    /* Header */
    
    .main-menu {
        display: inline-block;
    }
    .hamburger-menu {
        display: none;
    }
}